@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--red: rgb(255,60,0);
}

.jetbrains-mono-medium-500 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.wrong {
	border: 1px solid var(--red);
	border-radius: 10px;
	padding: 20px;
}

.wrong-message {
	color: var(--red);
	font-size: 30px;
}

.submit-button {
	background-color: var(--green);
	color: black;
	transition: 0.5s;
}

.submit-button:hover {
	background-color: transparent;
	color: var(--green);
	border: 1px solid var(--green);
	border-radius: 10px;
}
